<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>cp -r $HOME/vagrant_files/openbsd/Vagrantfile .</command>
    </hudson.tasks.Shell>
    <org.jenkinsci.plugins.vagrant.VagrantUpCommand plugin="vagrant@1.0.2">
      <destroyOnError>true</destroyOnError>
      <provider></provider>
      <wrapper>
        <vagrantFile>Vagrantfile</vagrantFile>
        <vagrantVm></vagrantVm>
      </wrapper>
      <dontKillMe>false</dontKillMe>
    </org.jenkinsci.plugins.vagrant.VagrantUpCommand>
    <org.jenkinsci.plugins.vagrant.VagrantProvisionCommand plugin="vagrant@1.0.2">
      <provisioners></provisioners>
      <parallel>false</parallel>
      <wrapper>
        <vagrantFile>Vagrantfile</vagrantFile>
        <vagrantVm></vagrantVm>
      </wrapper>
    </org.jenkinsci.plugins.vagrant.VagrantProvisionCommand>
    <org.jenkinsci.plugins.vagrant.VagrantSshCommand plugin="vagrant@1.0.2">
      <command>echo &apos;Iniciando la instalación de FORT en OpenBSD&apos; &amp;&amp; git clone https://github.com/NICMx/FORT-Validator.git &amp;&gt; /dev/null &amp;&amp; cd FORT-Validator &amp;&amp; git checkout 1.3.0 &amp;&gt; /dev/null</command>
      <asRoot>false</asRoot>
      <wrapper>
        <vagrantFile>Vagrantfile</vagrantFile>
        <vagrantVm></vagrantVm>
      </wrapper>
    </org.jenkinsci.plugins.vagrant.VagrantSshCommand>
    <org.jenkinsci.plugins.vagrant.VagrantSshCommand plugin="vagrant@1.0.2">
      <command>cd FORT-Validator &amp;&amp; export AUTORECONF_VERSION=2.69 &amp;&amp; export AUTOCONF_VERSION=2.69 &amp;&amp; export AUTOMAKE_VERSION=1.16 &amp;&amp; ./autogen.sh &amp;&gt; /dev/null &amp;&amp; env CC=clang CFLAGS=-I/usr/local/include LDFLAGS=-L/usr/local/lib ./configure &amp;&gt; /dev/null &amp;&amp; make &amp;&gt; /dev/null &amp;&amp; sudo make install &amp;&gt; /dev/null</command>
      <asRoot>false</asRoot>
      <wrapper>
        <vagrantFile>Vagrantfile</vagrantFile>
        <vagrantVm></vagrantVm>
      </wrapper>
    </org.jenkinsci.plugins.vagrant.VagrantSshCommand>
    <org.jenkinsci.plugins.vagrant.VagrantSshCommand plugin="vagrant@1.0.2">
      <command>echo &apos;yes&apos; &gt; ./FORT-Validator/fort_setup.sh FORT-Validator/examples/tal/ &amp;&gt; /dev/null</command>
      <asRoot>false</asRoot>
      <wrapper>
        <vagrantFile>Vagrantfile</vagrantFile>
        <vagrantVm></vagrantVm>
      </wrapper>
    </org.jenkinsci.plugins.vagrant.VagrantSshCommand>
    <org.jenkinsci.plugins.vagrant.VagrantSshCommand plugin="vagrant@1.0.2">
      <command>echo &apos;Terminando la instalación de $(fort --version)  en OpenBSD&apos; &amp;&amp; echo &apos;Iniciando las pruebas en OpenBSD&apos;</command>
      <asRoot>false</asRoot>
      <wrapper>
        <vagrantFile>Vagrantfile</vagrantFile>
        <vagrantVm></vagrantVm>
      </wrapper>
    </org.jenkinsci.plugins.vagrant.VagrantSshCommand>
    <org.jenkinsci.plugins.vagrant.VagrantSshCommand plugin="vagrant@1.0.2">
      <command>echo &apos;sudo fort --tal FORT-Validator/examples/tal/ --log.level info --mode standalone&apos; &amp;&amp; fort --tal FORT-Validator/examples/tal/ --log.level info --mode standalone</command>
      <asRoot>true</asRoot>
      <wrapper>
        <vagrantFile>Vagrantfile</vagrantFile>
        <vagrantVm></vagrantVm>
      </wrapper>
    </org.jenkinsci.plugins.vagrant.VagrantSshCommand>
    <org.jenkinsci.plugins.vagrant.VagrantSshCommand plugin="vagrant@1.0.2">
      <command>echo &apos;sudo fort --tal FORT-Validator/examples/tal/ --log.level info --mode standalone --validation-log.enabled --validation-log.level error&apos; &amp;&amp; fort --tal FORT-Validator/examples/tal/ --log.level info --mode standalone --validation-log.enabled --validation-log.level error</command>
      <asRoot>true</asRoot>
      <wrapper>
        <vagrantFile>Vagrantfile</vagrantFile>
        <vagrantVm></vagrantVm>
      </wrapper>
    </org.jenkinsci.plugins.vagrant.VagrantSshCommand>
    <org.jenkinsci.plugins.vagrant.VagrantSshCommand plugin="vagrant@1.0.2">
      <command>echo &apos;Terminando las pruebas. FORT fue instalado y ejecutado exitosamente en OpenBSD&apos;</command>
      <asRoot>false</asRoot>
      <wrapper>
        <vagrantFile>Vagrantfile</vagrantFile>
        <vagrantVm></vagrantVm>
      </wrapper>
    </org.jenkinsci.plugins.vagrant.VagrantSshCommand>
    <org.jenkinsci.plugins.vagrant.VagrantDestroyCommand plugin="vagrant@1.0.2">
      <wrapper>
        <vagrantFile>Vagrantfile</vagrantFile>
        <vagrantVm></vagrantVm>
      </wrapper>
    </org.jenkinsci.plugins.vagrant.VagrantDestroyCommand>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>